body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  background-color: rgb(252, 252, 252);
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.client-form,
.subject-form,
.case-form,
.agent-form,
.tag-form {
  background-color: rgba(238, 238, 238, 0.404);
  width: 80%;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-bottom: 50px;
}

h2 {
  text-align: center; 
  padding: 4px;
  font-size: 30px;
  margin-top: 6px;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.form-group1 {
  width: 48%; 
  display: inline-block; 
  box-sizing: border-box; 
  margin-bottom: 20px;
  padding-right: 5%;
}

.form-group2 {
  width: 48%; 
  display: inline-block; 
  box-sizing: border-box; 
  margin-left: 20px; 
  margin-bottom: 20px;
  padding-left: 5%;
}


label {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

h3 {
  display: block;
  color: #4d4d4d;
  font-weight: bold;
  font-size: 18px;
}

.sub-form-group{
  width: 30%; 
  display: inline-block; 
  box-sizing: border-box; 
  margin-left: 20px; 
  margin-bottom: 20px;
  padding-right: 5%;
}

input[type="text"], input[type="file"], input[type="password"], input[type="email"], input[type="tel"],
textarea, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.view-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(206, 203, 203, 0.486) !important;
}

.submit-btn {
  background-color: #446df3;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.discard-btn {
  background-color: #dc3545;
  margin-left: 10px;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #dc3545;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.edit-btn {
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  background-color: #dc8035;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.print-btn {
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #57a049;
  margin-left: 10px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.required {
  color: red;
  margin-left: 5px;
}

.delete-btn:hover,
.edit-btn:hover,
.submit-btn:hover,
.discard-btn:hover,
.print-btn:hover{
  opacity: 0.8;
}


.remove-message {
  color: rgb(255, 0, 0); 
  font-weight: bold; 
  font-size: 15px; 
}

/* Print Format */
@media print {
  body {
    margin: 0;
    padding: 0%;
  }

  body * {
    visibility: collapse;
  }

  #content,
  #content * {
    visibility: visible;
  }

  #content {
    position: absolute;
    left: 0;
    top: 0;
  }

  .client-form,
  .subject-form,
  .case-form,
  .agent-form
  .tag-form {
    background-color: white;
    border-radius: 8px;
    box-shadow: none !important;
    width: 90%  !important;
  }

  .form-group {
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    padding: 0px !important;
    width: 100% !important;

  }

  .form-group1{
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    padding: 0px !important;
    width: 100% !important;

  }

  .form-group2 {
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    padding: 0px !important;
    width: 100% !important;

  }

  .sub-form-group {
    margin-bottom: 5px !important;
    margin-left: 10px !important;
    padding: 0px !important;
    width: 100% !important;
  }

  input,
  textarea {
    padding: 5px;
    border: 2px rgb(153, 153, 153) !important;
    border-radius: 5px;
    font-size: 13px;
    font-family: Arial;
    background-color: rgb(255, 255, 255);
    box-shadow: none !important;
  }

  .print-btn {
    visibility: collapse !important;
  }
  .edit-btn {
    visibility: collapse !important;
  }

  h2 {
    text-align: center; 
    padding: 4px;
    font-size: 15px;
    margin-top: 4px;
  }

  h3 {
    display: block;
    color: #4d4d4d;
    font-weight: bold;
    font-size: 13px;
  }

  label {
    display: block;
    font-weight: bold;
    font-size: 15px;
  }
  
}
