body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f5f5f5;
  margin-top: 4%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#admin-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

h1 {
  color: #030249;
  margin-top: 0;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #535353;
}

.admin-button {
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #2570ad;
  color: #ffffff;
  width: 10%;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.admin-button:hover {
  opacity: 0.75;
}


.column {
  flex-basis: 48%;
}

.admin-metrics {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.metrics-table {
  width: 100%;
  border-collapse: collapse;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 30%;
}

.metrics-table td {
  padding: 10px;
  border: 1px solid #a5a5a5;
  background-color: #f0efef;
  font-weight: bold;
}

.metric-number {
  font-size: 24px;
  color: red;
  font-weight: bold;
}

table#agent {
  width: 100%;
}

#scroll-wrapper {
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

table#agent th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #045aaa !important;
  color: white;
  border: none;
  padding: 8px;
  position: sticky;
  top: 0;
}

#agent td {
  border: none;
  padding: 8px;
}

#agent tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}
