body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column; 
}

h1 {
  margin-top: 0;
  color: #030249;
  display: flex;
  margin-bottom: 10px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 5px;

}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #535353;
}

.admin-button {
  display: block;
  margin-bottom: 10px;
  margin-left: 50px;
  padding: 10px 20px;
  background-color: #6e6e6e;
  color: #ffffff;
  width: 15%;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}

.admin-button:hover {
  opacity: 0.8;
}

.metrics-table {
  width: 400px;
  border-collapse: collapse;
  margin-top: 20px;
}

.metrics-table td {
  padding: 10px;
  border: 1px solid #a5a5a5;
  background-color: #f0efef;
  font-weight: bold;
}

.metric-number {
  font-size: 24px;
  color: red;
  font-weight: bold;
}

table#agent {
  padding: 0%;
  margin: 0%;
  width: 100%
}

#scroll-wrapper {
  width: 90%;
  margin-left: 3%;
  margin-bottom: 20px;
  padding:0;
  height:200px;
  overflow-y:scroll;
  border-radius: 10px;
}
table#agent th { 
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #045aaa !important;
  color: white;
  border: none;
  padding: 8px;
  position: sticky;
  top: 0;
}

#agent td {
  border: none;
  padding: 8px;
}

#agent tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

#agent tr:nth-child(even){background-color: #f2f2f2;}

#agent tr:hover {background-color: #ddd;}

#agent tr a:hover {
  opacity: 50%;
}
